extends layout

block content
  h1= title
  code= content
  input#task(type='text', class='form-control' autocomplete='off')
  button(id='start-button' class='btn btn-default btn-sm' onclick='start()') Start
  table(class='table table-striped')
    - for (i = 0; i < items.length; i++)
      tr
        td= moment(items[i]['date']).format('YYYY/MM/DD HH:mm')
        td= items[i]['task']
